.notify-main{
    width: 500px;
    position: absolute;
    left: 35%;
    font-size: 14px;
    box-shadow: 0 0 4px rgba(0,0,0,0.078);
    border-radius: 4px;
    animation: showNotify 2s infinite;
}
.notify-content{
    padding: 18px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: center;
}
.notify-right{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.notify-left{
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.notify-cancel{
    color: #1F1F1F;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.notify-icon-success{
    width: 32px;
	height: 32px;
    background: transparent url("../../assets/images/Sprites.64af8f61.svg") no-repeat -96px -962px;
}
.notify-error-icon{
    height: 25px;
    width: 25px;
    background: transparent url("../../assets/images/Sprites.64af8f61.svg") no-repeat -536px -144px;
}
.notify-close{
    height: 16px;
    width: 16px;
    background: transparent url("../../assets/images/Sprites.64af8f61.svg") no-repeat -1175px -360px;

}
@keyframes showNotify {
    from {top: 0px}
    to {top: 5%}
  }